<div class="row">
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
		<% flash.each do |type, message| %>
			<div class="alert alert-<%= type %>">
		  	<%= message %>
			</div>
		<% end %>
	</div>
</div>