<div id="menu">
  <a href="/#home"><li data-menuanchor="home" class="btn btn-lg btn-default">Home</li></a>
  <a href="/#search"><li data-menuanchor="search" class="btn btn-lg btn-default search">Search</li></a>
  <a href="/#data"><li data-menuanchor="data" class="btn btn-lg btn-default data">Data</li></a>
  <a href="/#about"><li data-menuanchor="about" class="btn btn-lg btn-default about">About</li></a>
</div>