/* stylesheet for your custom graph */

.categories {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.categories-choropleth {
  fill: #ccc;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#canvas svg {
  border: 0px;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

.x-axis {
  fill: #000;
}

.chart {
  background: #fff;
  margin: 5px;
}
 
.chart .category-bar {
  stroke: white;
  fill: steelblue;
}
 
.chart .score {
  fill: white;
}
 
.chart text.name {
  fill: #000;
}
 
.chart line {
  stroke: #c1c1c1;
}
 
.chart .rule {
  fill: #000;
}

.main-category-text {
  fill: #FF4A4A;
}

.main-category-bar {
  stroke: #FF4A4A;
  stroke-width: 2px;
}