<div id="navigation">
  <%= render 'partials/nav' %>
  <div id="user">
    <a href="/signout"><li class="btn btn-lg btn-default">Sign Out</li></a>
  </div>
</div>

<div id="fullpage-five">
  <div class="section section-9">
    <p class="title">Hello <%= @current_user["firstname"] %>.</p>
    <% if @current_user.address.count == 0 %>
      <p class="empty">You don't have any saved addresses.</p>
    <% else %>
      <p class="full">Saved address:</p>
      <div>
        <% @current_user.address.each do |address| %>
          <div class="div-address">
            <span class="address"><%= address.address %></span> <span class="removeAddress"><i class="fa fa-trash fa-lg"></i></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="/fullpage-profile.js"></script>