/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Arkhip'; 
  src: url('Arkhip.ttf');
}

#title {
  font-family: 'Arkhip' !important;
}

/* stylesheet for your custom graph */

.categories {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.categories-choropleth {
  fill: #ccc;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#canvas svg {
  border: 0px;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

.x-axis {
  fill: #000;
}

.chart {
  background: #fff;
  margin: 5px;
}
 
.chart .category-bar {
  stroke: white;
  fill: steelblue;
}
 
.chart .score {
  fill: white;
}
 
.chart text.name {
  fill: #000;
}
 
.chart line {
  stroke: #c1c1c1;
}
 
.chart .rule {
  fill: #000;
}

.main-category-text {
  fill: #FF4A4A;
}

.main-category-bar {
  stroke: #FF4A4A;
  stroke-width: 2px;
}