// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin linear-gradient($top, $bottom) {
  background: -webkit-gradient(linear, top left, bottom left, from($top), to($bottom));
  background: -webkit-linear-gradient($top, $bottom);
  background: linear-gradient($top, $bottom);
}

$first-gradient: #131F2C;
$second-gradient: #263F5D;
$third-gradient: #2B688E;
$fourth-gradient: #6EA9C3;
$fifth-gradient: #B8D2DD;
$pink: #E6178B;
$green: #268A85;

.section-1 {
  @include linear-gradient($first-gradient, $second-gradient);
}

.section-2 {
  @include linear-gradient($second-gradient, $third-gradient);
}

.section-3 {
  @include linear-gradient($third-gradient, $fourth-gradient);
}

.section-4 {
  @include linear-gradient($fourth-gradient, $fifth-gradient);
}

.section-5 {
  @include linear-gradient($first-gradient, $third-gradient);
}

.section-6 {
  @include linear-gradient($third-gradient, $fifth-gradient);
}

.section-7 {
  @include linear-gradient($third-gradient, $fifth-gradient);
}

html,
body {
  font-family: 'Neou-Thin', sans-serif;
  overflow: hidden;
}

.btn-lg,
.input-lg {
  font-family: 'Neou-Bold', sans-serif;
  border-radius: 0;
}

.btn-default {
  background-color: #FFFFFF;
  border: none;
}

.btn-default:hover,
.btn-default:active {
  background-color: #ECF0F1;
}

.form-control {
  border-radius: 0;
  border: 1px solid #ECF0F1;
}

#navigation {
  div {
    position: fixed;
    top: 10px;
    padding: 0;
    margin: 0;
    z-index: 2;
  }

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
  }

  #menu {
    left: 10px;
  }

  .search,
  .data,
  .about {
    display: none;
  }

  #user {
    right: 10px;
  }
}

.section {
  text-align: center;
  color: #FFFFFF;

  p {
    cursor: default;
  }

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: #FFFFFF;
  }

  .bottom-a {
    display: none;
  }

  .title {
    color: $pink;
    font-size: 72px;
  }

  .description {
    font-size: 18px;
  }
}

.section-1 {
  p {
    font-size: 99px;
  }

  .second {
    font-family: 'Neou-Bold', sans-serif;
    color: $pink;
  }
}

.section-2 {
  .input-lg {
    font-size: 27px;
  }

  #savedFrom,
  #savedTo {
    display: none;
  }

  #sub {
    margin-top: -50px;
  }
}

.section-3 {
  p {
    font-family: 'Neou-Bold', sans-serif;
    font-size: 18px;
  }

  #title {
    font-family: 'Neou-Bold', sans-serif;
    font-size: 54px;
  }

  #countMap,
  #uberMap,
  #lyftMap {
    background-color: $green;
    color: white;
  }

  .map-sort,
  #canvas-svg {
    display: none;
  }
}

.section-4 {
  .last,
  .name {
    font-family: 'Neou-Bold', sans-serif;
  }

  .img-rounded {
    width: 350px;
    border-radius: 0;
  }

  .name {
    font-size: 18px;
    padding-top: 5px;
  }

  i {
    padding: 0 5px;
  }

  i:hover {
    color: $pink;
  }
}

.section-5 {
  .row:first-child {
    margin-top: 20px;
  }

  .form-control:first-child {
    display: inline-block;
  }

  .btn,
  .form-control {
    border-radius: 0;
  }

  .prime-time,
  .well,
  .promo {
    font-size: 12px;
  }

  .address {
    font-size: 8px;
  }

  .well {
    border-radius: 0;
    border: none;
    padding: 10px;
  }

  li {
    list-style-type: none;
  }

  .uber {
    background-color: #000000;
  }

  .lyft {
    background-color: $green;
  }

  p {
    font-size: 18px;
  }

  #surge {
    padding: 0;
    color: $pink;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: default;
    font-size: 18px;
    font-family: 'Neou-Bold', sans-serif;
    outline: 0;
  }

  #minus,
  #plus {
    background-color: $green;
    color: #FFFFFF;
  }

  .map-holder {
    display: none;
  }

  #clickable1,
  #clickable2 {
    color: #FFFFFF;
  }

  #clickable1 {
    background-color: #000000;
  }

  #clickable2 {
    background-color: $pink;
  }
}

@media (min-width: 667px) {
  .section-4 {
    .line-break-xs {
      display: none;
    }
  }
}

@media (min-width: 667px) {
  .section-2 {
    .title {
      display: none;
    }
  }
}

@media (min-width: 736px) {
  .section-2 {
    .title {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  #navigation {
    .search,
    .data,
    .about {
      display: inline-block;
    }
  }

  .section {
    .bottom-a,
    .bottom-a:link,
    .bottom-a:hover,
    .bottom-a:active,
    .bottom-a:visited {
      display: block;
      margin-right: 35px;
      z-index: 2;
    }

    .bottom-i {
      position: absolute;
      bottom: 15px;
      z-index: 2;
    }

    .title {
      font-size: 108px;
    }

    .description {
      font-size: 36px;
    }
  }

  .section-1 {
    p {
      font-size: 180px;
    }
  }

  .section-2 {
    #savedFrom,
    #savedTo {
      display: block;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    #sub {
      margin-top: 0;
    }
  }

  .section-3 {
    #title {
      display: none;
    }

    .map-sort,
    #canvas-svg {
      display: block;
    }
  }

  .section-4 {
    .name {
      font-size: 27px;
    }
  }

  .section-5 {
    .row:first-child {
      margin-top: 0;
    }

    .map-holder {
      display: block;
    }

    .address {
      font-size: 14px;
    }

    .well,
    .prime-time,
    .promo {
      font-size: 18px;
    }

    .well {
      padding: 19px;
    }
  }
}