// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin linear-gradient($top, $bottom) {
  background: -webkit-gradient(linear, top left, bottom left, from($top), to($bottom));
  background: -webkit-linear-gradient($top, $bottom);
  background: linear-gradient($top, $bottom);
}

$first-gradient: #131F2C;
$second-gradient: #263F5D;
$third-gradient: #2B688E;
$fourth-gradient: #6EA9C3;
$fifth-gradient: #B8D2DD;
$pink: #E6178B;

.section-1 {
  @include linear-gradient($first-gradient, $second-gradient);
}

.section-2 {
  @include linear-gradient($second-gradient, $third-gradient);
}

.section-3 {
  @include linear-gradient($third-gradient, $fourth-gradient);
}

.section-4 {
  @include linear-gradient($fourth-gradient, $fifth-gradient);
}

html,
body {
  font-family: 'Neou-Thin', sans-serif;
}

.btn-lg,
.input-lg {
  font-family: 'Neou-Bold', sans-serif;
  border-radius: 0;
}

.btn-default {
  background-color: #FFFFFF;
  border: none;
}

.btn-default:hover,
.btn-default:active {
  background-color: #ECF0F1;
}

.form-control {
  border: 1px solid #ECF0F1;
}

#navigation {
  div {
    position: fixed;
    top: 10px;
    padding: 0;
    margin: 0;
    z-index: 2;
  }

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
  }

  #menu {
    left: 10px;
  }

  #user {
    right: 10px;
  }
}

.section {
	text-align: center;

  p {
    cursor: default;
  }

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: #FFFFFF;
  }

	.bottom-a,
	.bottom-a:link,
	.bottom-a:hover,
	.bottom-a:active,
	.bottom-a:visited {
		display: block;
		margin-right: 35px;
		z-index: 2;
	}

	.bottom-i {
		position: absolute;
		bottom: 15px;
		z-index: 2;
	}

  .title {
    color: $pink;
    font-size: 108px;
  }

  .description {
    font-size: 36px;
    color: #FFFFFF;
  }
}

.section-1 {
  p {
    color: #FFFFFF;
    font-size: 180px;
  }

  .second {
    font-family: 'Neou-Bold', sans-serif;
    color: $pink;
  }
}

.section-2 {
  .input-lg {
    font-size: 27px;
  }
}

.section-4 {
  color: #FFFFFF;

  .last,
  .name {
    font-family: 'Neou-Bold', sans-serif;
  }

  .img-rounded {
    width: 350px;
    border-radius: 0;
  }

  .name {
    font-size: 27px;
    padding-top: 5px;
  }

  i {
    padding: 0 5px;
  }

  i:hover {
    color: $pink;
  }
}

/* Stylesheet for data state map */
.categories {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.categories-choropleth {
  fill: #ccc;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#canvas svg {
  border: 0px;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

.x-axis {
  fill: #000;
}

.chart {
  background: #fff;
  margin: 5px;
}
 
.chart .category-bar {
  stroke: white;
  fill: steelblue;
}
 
.chart .score {
  fill: white;
}
 
.chart text.name {
  fill: #000;
}
 
.chart line {
  stroke: #c1c1c1;
}
 
.chart .rule {
  fill: #000;
}

.main-category-text {
  fill: #FF4A4A;
}

.main-category-bar {
  stroke: #FF4A4A;
  stroke-width: 2px;
}

/*!
Animate.css - http://daneden.me/animate
Version - 3.4.0
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}