// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin linear-gradient($top, $bottom) {
  background: -webkit-gradient(linear, top left, bottom left, from($top), to($bottom));
  background: -webkit-linear-gradient($top, $bottom);
  background: linear-gradient($top, $bottom);
}

$first-gradient: #131F2C;
$third-gradient: #2B688E;
$fifth-gradient: #B8D2DD;
$pink: #E6178B;

.section-7 {
  @include linear-gradient($first-gradient, $third-gradient);
}

.section-8 {
  @include linear-gradient($third-gradient, $fifth-gradient);
}

.section {
  .title {
    color: $pink;
    font-size: 54px;
  }
}

.section-7,
.section-8 {
	text-align: left;
  color: #FFFFFF;

  label {
  	display: none;
  }

  p {
  	text-align: center;
    cursor: default;
  }
}

@media (min-width: 768px) {
  .section {
    .title {
      font-size: 108px;
    }
  }

  .section-7,
  .section-8 {
    label {
      display: inline-block;
      font-size: 18px;
    }
  }
}